.do__button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #bfcbd9;
  color: #1f2d3d;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  &.is-round {
    border-radius: 20px
  }
}
.do__button--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px
}
.do__button--small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px
}
.do__button--mini {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 3px
}

// button color theme
.do__button--default {
  background: #fff;
  border: 1px solid #bfcbd9;
  color: #1f2d3d
}
.do__button--default:focus,
.do__button--default:hover {
  background: rgba(63, 170, 245, .05);
  border-color: rgba(63, 170, 245, .8);
  color: $primary
}

.do__button--default:disabled {
  opacity: .3;
  background: #fff;
  border: 1px solid #bfcbd9;
  color: #1f2d3d
}

.do__button--default:active {
  background: #fff;
  outline: 0
}

.do__button--default.is-plain {
  border: 1px solid $primary
}

.do__button--default.is-plain:focus,
.do__button--default.is-plain:hover {
  background: #fff;
  border-color: rgba(63, 170, 245, .8);
  color: $primary
}

.do__button--default.is-plain:disabled {
  background: #fff;
  border: 1px solid $primary;
  color: #1f2d3d
}

.do__button--primary {
  background: $primary;
  border: 1px solid $primary;
  color: #fff
}

.do__button--primary:focus,
.do__button--primary:hover {
  opacity: .7
}

.do__button--primary:disabled {
  opacity: .3
}

.do__button--primary.is-plain {
  background: rgba(63, 170, 245, .05);
  border-color: rgba(63, 170, 245, .8);
  color: $primary
}

.do__button--primary.is-plain:focus,
.do__button--primary.is-plain:hover {
  opacity: 1;
  background: $primary;
  border: 1px solid $primary;
  color: #fff
}

.do__button--primary.is-plain:disabled {
  opacity: .3;
  background: rgba(63, 170o, 245, .05);
  border-color: rgba(63, 170, 245, .8);
  color: $primary
}

.do__button--success {
  background: #13ce66;
  border: 1px solid #13ce66;
  color: #fff
}

.do__button--success:focus,
.do__button--success:hover {
  opacity: .7
}

.do__button--success:disabled {
  opacity: .3
}

.do__button--success.is-plain {
  background: rgba(19, 206, 102, .05);
  border-color: rgba(19, 206, 102, .8);
  color: #13ce66
}

.do__button--success.is-plain:focus,
.do__button--success.is-plain:hover {
  opacity: 1;
  background: #13ce66;
  border: 1px solid #13ce66;
  color: #fff
}

.do__button--success.is-plain:disabled {
  opacity: .3;
  background: rgba(19, 206, 102, .05);
  border-color: rgba(19, 206, 102, .8);
  color: #13ce66
}

.do__button--info {
  background: #50bfff;
  border: 1px solid #50bfff;
  color: #fff
}

.do__button--info:focus,
.do__button--info:hover {
  opacity: .7
}

.do__button--info:disabled {
  opacity: .3
}

.do__button--info.is-plain {
  background: rgba(80, 191, 255, .05);
  border-color: rgba(80, 191, 255, .8);
  color: #50bfff
}

.do__button--info.is-plain:focus,
.do__button--info.is-plain:hover {
  opacity: 1;
  background: #50bfff;
  border: 1px solid #50bfff;
  color: #fff
}

.do__button--info.is-plain:disabled {
  opacity: .3;
  background: rgba(80, 191, 255, .05);
  border-color: rgba(80, 191, 255, .8);
  color: #50bfff
}

.do__button--warning {
  background: #f7ba2a;
  border: 1px solid #f7ba2a;
  color: #fff
}

.do__button--warning:focus,
.do__button--warning:hover {
  opacity: .7
}

.do__button--warning:disabled {
  opacity: .3
}

.do__button--warning.is-plain {
  background: rgba(247, 186, 42, .05);
  border-color: rgba(247, 186, 42, .8);
  color: #f7ba2a
}
.do__button.is-circle {
  border-radius: 50%;
  padding: 12px;
}
.do__button--warning.is-plain:focus,
.do__button--warning.is-plain:hover {
  opacity: 1;
  background: #f7ba2a;
  border: 1px solid #f7ba2a;
  color: #fff
}

.do__button--warning.is-plain:disabled {
  opacity: .3;
  background: rgba(247, 186, 42, .05);
  border-color: rgba(247, 186, 42, .8);
  color: #f7ba2a
}

.do__button--danger {
  background: #ff4949;
  border: 1px solid #ff4949;
  color: #fff
}

.do__button--danger:focus,
.do__button--danger:hover {
  opacity: .7
}

.do__button--danger:disabled {
  opacity: .3
}

.do__button--danger.is-plain {
  background: rgba(255, 73, 73, .05);
  border-color: rgba(255, 73, 73, .8);
  color: #ff4949
}

.do__button--danger.is-plain:focus,
.do__button--danger.is-plain:hover {
  opacity: 1;
  background: #ff4949;
  border: 1px solid #ff4949;
  color: #fff
}

.do__button--danger.is-plain:disabled {
  opacity: .3;
  background: rgba(255, 73, 73, .05);
  border-color: rgba(255, 73, 73, .8);
  color: #ff4949
}
